
body{
    min-height: 100vh;
    min-width: 100vh;
    overflow: hidden;
    display: flex;
    margin: 0px;
    background: #fff;
}
.navbar{

    position: relative;
   
    bottom: 20px;
    background: #0a6bda;
    width: 250px; 
    box-sizing: initial;
    border-radius: 10px;
    border-right: 20px;
    transition: 0.5s;
    display: flex;
    overflow: hidden;
    


}
.navbar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;

}
.navbar ul li{
    padding-top: 20px;
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navbar ul li:hover{
    background: #0a6bda;
}
.navbar ul li a{
    position:relative;
    display: block;
    width: 100;
    display: flex;
    text-decoration: none;
    color: #fff;


}
.navbar.active{
    width: 100px;
}
.navbar ul li.active{
    background: #fff;

}
.navbar ul li a .icon{
    display: block ;
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navbar ul li.active a{
   color: black;

} 

.navbar ul li a .icon ion-icon{
    font-size: 2.5em;
}
.navbar ul li a .title{
    position: relative;
    display: block;
    padding: left 10px; 
    height: 60px;
    white-space: normal;
}
.toggle{
    position:fixed;
}
.dashboard{
  
  color: blue;
  width: 300px;
  align-content: flex-start;
}
.main{

    position: relative; 
    width:100%;
    min-height: 100vh;
    background: #fff;
    transition: 0.5s;
    overflow: auto;
    display: block;
     
}
.main.active{
    width:calc(100%-200px) ;
    left: 90px;
}

.main .searchcontainer


{       margin-top: 20px;
      border-radius: 16px;
    margin-left: 20px;
    width: 300px;;
    height: 900px;
    display: flex;
    background-color: rgba(201, 184, 184, 0.267);
    float: left;
    position: relative;
   
    }
    
    .main .info{

        margin-top: 20px;
        border-radius: 16px;
    margin-left: 20px;
    
    height: 900px;
    display: flex;
    background-color: rgba(201, 184, 184, 0.267);
    float: left;
    flex-grow: 1;
    position: relative;
    overflow: auto;
    
    
    }
    .searchbox {
        margin-top: 20px;
        display: flex;
        height: 50px;
        margin-right: 20px;
        flex-direction: row-reverse;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }
    
    .searchbox input {
        /* Take available width */
        width: 200px;
        height: 30px;
        margin-bottom: 10px;
    }

    .searchcardcontainer {
        position: absolute;
        /* Put a card in the next row when previous cards take all width */
        flex-wrap: wrap;
        margin-top: 20px;
        display: flex;
       
    }
 .cards_item{
    
        /* There will be 4 cards per row */
     flex-basis: 25%;
     padding-left: 8px;
     padding-right: 8px;
    
    }
.searchcard{
    width: 100px;
    margin-top: 20px;
    background-color: #1700CC;
    height: 100px;}
.topbar{

    background: #e1dcf5fd;
    height: 60px;
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: 200px;
    align-items: center;

}


.toggle{
position: relative;
width: 60px;
 height: 60px;
 background: #e1dcf5fd;
cursor: pointer;
}
.toggle ::before{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: black;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 40px;
    display: flex;
    box-sizing: border-box;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    padding-left: 25px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, 0,0,0.2 );
}
.search label ion-icon{

    position: absolute;
    left: 10px;
    top: 18px;
}
.user::before{
  display: inline-block;
  width: 100px;
}
.user{
    position: relative;
    
    width: 100px;
    height: 50px;
    
    overflow: hidden;

}
.user ion-icon{
  color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;

}
.healthplan button{
  border-radius: 16px;
  width: 200px;
  padding: 5px;
  font-size: medium;
  margin: 20px;
  color: #fff;
  background-color: blue;
}
.healthplan button ion-icon{
  background-color: #ffffff;
  border-radius: 50%; 
  color: black;
  
}
.card {
    position: relative;
    display: flex;
    float: left;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 10px;
    align-content: center;
    word-wrap: break-word;
    background-color: rgb(249, 252, 250);
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 16px;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
  }
  .card-body {
    margin: 10px;
    height: 280px;
    width: 280px;
    justify-items: center;
    box-sizing: border-box;
    background-color: rgb(246, 242, 242);
    border-radius: 16px;
  }
  .card-body .topup{
    height: 200px;
    width: 200px;
    background-color: rgb(224, 31, 31);
    position: absolute;
    z-index: 6;
    justify-self: center;

    
   border-radius: 100%;
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
.card-body .bar
{
  position: absolute;
  height: 100%;
  width: 100%;
 

}  .topup button{
    margin-top: 220px;
    margin-left: 60px;
    border-radius: 16px;
    width: 150px;
    padding: 10px;
   
    font-size: medium;

    color: #fff;
    background-color: blue;

  }
  .bargraph{
    position: relative;
    display: flex;
    float: left;
    margin-left: 20px;
    flex-direction: column;
    width: 400px ;
    height: 300px ;
    margin: 10px;
    background-color:#fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);

  }
  .graphdetails{
    margin: 10px;
    height: 00px;
    width: 400px;
    background-color: rgb(231, 14, 14);
    border-radius: 16px;

  }
  
  .btn {

    border-radius: 12px;

    width: 229px;
    background-color: #1700CC;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;

  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  
  