
body{
    min-height: 100vh;
    min-width: 100vh;
    overflow: auto;
    display: flex;
    margin: 0px;
    background: #e1dcf5fd;
}
.navbar{

    position: relative;
   border-radius: 16px;
   
    background: #ffff;
    width: 250px; 
    box-sizing: initial;

    border-right: 20px;
    transition: 0.5s;
    display: flex;
    
    


}
.heading {
    font-size: 14px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    margin-left: 40px;
    align-items: center;
}
.navbar ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;

}
.navbar ul li{
    padding-top: 20px;
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.navbar ul li:hover{
    background: #0a6bda;
}
.navbar ul li a{
    position:relative;
    display: block;
    width: 100;
    display: flex;
    text-decoration: none;
    color: rgb(20, 17, 231);


}
.navbar.active{
    width: 100px;
}
.navbar ul li.active{
    background: #e1dcf5fd;

}
.navbar ul li a .icon{
    display: block ;
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navbar ul li.active a{
   color: black;

} 

.navbar ul li a .icon ion-icon{
    font-size: 2.5em;
}
.navbar ul li a .title{
    position: relative;
    display: block;
    padding: left 10px; 
    height: 60px;
    white-space: normal;
}
.toggle{
    position:fixed;
}
.dashboard{
  
  color: blue;
  width: 300px;
  align-content: flex-start;
}




.main{

    position: relative; 
    width:100%;
    min-height: 100vh;
    background: #e1dcf5fd;
    transition: 0.5s;
    
    display: inline-block;
     
}
.main.active{
    width:calc(100%-200px) ;
    left: 90px;
}

.main .searchcontainer


{    margin-top: 20px;
      border-radius: 16px;
    margin-left: 20px;
    width: 360px;;
    height: 1200px;
    display: flex;
    background-color: #ffff;
    position: relative;
    
   
    }
    
    .main .info{

        margin-top: 20px;
        border-radius: 16px;
    margin-left: 20px;
    width: auto;
    height: auto;
    display: flex;
    background-color: rgba(201, 184, 184, 0.267);
    flex-direction: column;
    
    position: absolute;
    
    
    
    }




/*search box css*/

    .searchbox {
        margin-top: 20px;
        display: flex;
        height: 50px;
        width: 320px;
        margin-left: 20px;
        border-radius: 16px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    
    .searchbox input {
        position: relative;
        /* Take available width */
        margin-left: 5px;
        width: 260px;
        height: 40px;
        border-color:transparent ;
        border-radius: 16px;
        
    }
    .searchbox .search ion-icon{
        scale: (2,0);
    }

   
    /*----slider  css*/
    .slidercontainer {
        /* Content is centered horizontally */
        align-items: center;
        position: absolute;
        margin-top: 100px;
        margin-right: 80px;
        right: 0;
        width: 320px;
        display: flex;
        /* Size */
        height: 32px;
        
    }
    
    .slidercontainer__left {
        height: 5px;
        width: 120px;
        margin-left: 60px;
    
        /* Colors */
        background-color: rgba(24, 38, 228, 0.932);
    }
    
    .slidercontainer__circle {
        /* Size */
        height: 16px;
        width: 16px;
    
        /* Rounded border */
        border-radius: 9999px;
    
        /* Colors */
        background-color: rgba(24, 38, 228, 0.932);
    }
    
    .slidercontainer__right {
        /* Take the remaining width */
         width: 86px;
        height: 5px;
    
        /* Colors */
        background-color: rgba(24, 38, 228, 0.932);
    }
    .filter{
        width: 40px;
        height: 40px;
        position: absolute;
        margin-top: 100px;
        margin-left: 280px;
        border-radius: 16px;
        background-color: rgba(24, 38, 228, 0.932);
    }
    .filter button{
        border-radius: 10px;
        height: 40px;
        width: 40px;
    }
   
    .showresults{
    position: absolute;
    margin-top: 140px;
    margin-left: 20px;
    font-weight: bold;
    
     }



     /*----search card css*/

     .searchcardcontainer {
        
        position: absolute;
         background-color: rgb(216, 229, 230);
        /* Put a card in the next row when previous cards take all width */
        flex-wrap: wrap;
        margin-top: 170px;
        display: flex;
        width: 320px;
        height: auto;
        border-radius: 16px;
        margin-left: 20px;
        

        
       
    }
 .cards_item{
    
        /* There will be 4 cards per row */
     flex-basis: 50%;
     padding-left: 8px;
     padding-right: 8px;
     margin-top: 20px;
     display: flex;
     height: auto;
     overflow:scroll !important;
     background-color: rgb(246, 242, 242);
    }
.searchcard{
    float: left;
    width: 120px;
    margin-top: 10px;
    border-radius: 16px;
    margin-left: 30px;
    
    
    height: 150px;}
.searchcard img{

    height: 150px;
    width: 120px;
}
.searchprice{
    position:absolute;
    font-size: small;
    margin-top: 80px;
    margin-left: 20px;
}

    /*----topbar css*/



.toggle{
position: relative;
width: 60px;
 height: 60px;
 background: #e1dcf5fd;
cursor: pointer;
}
.toggle ::before{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: black;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 40px;
    display: flex;
    box-sizing: border-box;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    padding-left: 25px;
    border-radius: 40px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, 0,0,0.2 );
}
.search label ion-icon{

    position: absolute;
    left: 10px;
    top: 18px;
}
.user::before{
  display: inline-block;
  width: 100px;
}
.user{
    position: relative;
    
    width: 100px;
    height: 50px;
    
    overflow: hidden;

}
.user ion-icon{
  color: blue;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;

}
.healthplan button{
  border-radius: 16px;
  width: 200px;
  padding: 5px;
  font-size: medium;
  margin: 20px;
  color: #fff;
  background-color: blue;
}
.healthplan button ion-icon{
  background-color: #ffffff;
  border-radius: 50%; 
  color: black;
  
}
.card {
    position: relative;
    display: flex;
    float: left;
    flex-direction: column;
    width: 300px;
    height: 300px;
    margin: 10px;
    align-content: center;
    word-wrap: break-word;
    background-color: rgb(249, 252, 250);
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 16px;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
  }
  .card-body {
    margin: 10px;
    height: 280px;
    width: 280px;
    justify-items: center;
    box-sizing: border-box;
    background-color: rgb(246, 242, 242);
    border-radius: 16px;
  }
  .card-body .topup{
    height: 200px;
    width: 200px;
    background-color: rgb(224, 31, 31);
    position: absolute;
    z-index: 6;
    justify-self: center;

    
   border-radius: 100%;
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  }
.card-body .bar
{
  position: absolute;
  height: 100%;
  width: 100%;
 

}  .topup button{
    margin-top: 220px;
    margin-left: 60px;
    border-radius: 16px;
    width: 150px;
    padding: 10px;
   
    font-size: medium;

    color: #fff;
    background-color: blue;

  }
  .bargraph{
    position: relative;
    display: flex;
    float: left;
    margin-left: 20px;
    flex-direction: column;
    width: 400px ;
    height: 300px ;
    margin: 10px;
    background-color:#fff;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);

  }
  .graphdetails{
    margin: 10px;
    height: 00px;
    width: 400px;
    background-color: rgb(231, 14, 14);
    border-radius: 16px;

  }
  
  .btn {

    border-radius: 12px;

    width: 229px;
    background-color: #1700CC;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px 2px;
  cursor: pointer;

  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  
  